@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #23252F;
  --bg-inverse: #FAF9F6;

  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;
  --text-inverse-primary: #000000;
  --text-inverse-secondary: #909090;
}

h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
} 

h3 {
  font-size: 1.4rem;
  font-weight: 400;
} 